<style>
.r { float: right; vertical-align: middle; }
p > label { font-size: larger; vertical-align: middle; }
</style>
<fieldset>
<legend>profile</legend>
<input type='hidden' name='id' value='<%= params[:id] %>'>
<% [ :pin, :name, :venmo, :city, :worknumber, :pitch, :message, :image ].each do |e| %>
<p><label><%= e %></label>
<% if !@attr.has_key?(e.to_s) %>
<input class='r' type='text' name='<%= e %>' placeholder='<%= 'your ' + e.to_s %>'>
<% else %>
<input class='r' type='text' name='<%= e %>' placeholder='<%= @attr[e.to_s] %>' value='<%= @attr[e.to_s] %>'>
<% end %>
</p>
<% end %>
<p><label>team</label>
<select class='material-icons btn' name='team'>
<option value='<%= @attr['team'] || "fff" %>' class='material-icons'selected style='color: <%= @attr['team'] || 'white' %>;'>circle</option>
<option value='white' class='material-icons' style='color: white;'>circle</option>
<option value='red' class='material-icons' style='color: red;'>circle</option>
<option value='yellow' class='material-icons' style='color: yellow;'>circle</option>
<option value='green' class='material-icons' style='color: green;'>circle</option>
<option value='blue' class='material-icons' style='color: blue;'>circle</option>
<option value='purple' class='material-icons' style='color: purple;'>circle</option>
<option value='pink' class='material-icons' style='color: pink;'>circle</option>
</select> 
</p>
<p><label>I need this tool for</label><select name='mode' class='r btn'>
<option selected disabled>select...</option>
<option value='feedback'>colecting customer feedback.</option>
<option value='embed'>sharing an imbed or iframe.</option>
<option value='card'>a digital callback card.</option>
<option value='rewards'>tracking customer rewards.</option>
</select></p>
<label>content</label>
<textarea name='content' style='width: 100%;' placeholder='<%= @attr['content'] || 'customer interface content...' %>'></textarea>
<div style='text-align: center;'>
<h1><button type='submit' name='do' value='profile'>SAVE</button></h1>
</div>
</fieldset>