<style>
fieldset { height: inherit; }
.ui { float: right; vertical-align: middle; text-decoration: none; color: black; padding: 0 2% 0 2%; }
.btn { border: thick solid black; border-radius: 20px; background-color: white; color: black; vertical-align: middle; font-size: large; }
.view { padding: 0 2% 0 2%; }
.views > legend { font-size: x-large; }
.outline-2 { border-radius: 10px; box-shadow: 0 0 2px black; }
</style>
<h1 style='margin:0; text-align: center;'>
  <datalist id='msgs'>
    <option value='thank you for your business!'>
  </datalist>
  <button type='button' class='material-icons btn' id='menu' onclick='$("#menu-div").toggle();'>menu</button>
  <input class='btn' id='pitch' name='pitch' list='msgs' placeholder='pitch' style='width: 10%;'>
<button type='button' id='time' class='btn'><span id='hour'>00</span>:<span id='min'>00</span></button>
  <button type='button' class='material-icons btn' id='cart'>add_shopping_cart</button>
  <button type='button' class='material-icons btn' id='locator'>explore</button> 
</h1>

<fieldset id='menu-div' style='display: none' class='views'>
<legend>menu</legend>
<ul>
<li><button type='button' class='material-icons btn' onclick='$(".views").hide(); $("#org-div").show();'>content_paste</button><span>organizer</span></li>
<li><button type='button' class='material-icons btn' onclick='window.location="https://drive.google.com"'>folder</button><span>google drive</span></li>
<li><button type='button' class='material-icons btn' onclick='window.location="https://zoom.us"'>voice_chat</button><span>zoom</span></li>
                                                                

  <li><a href='/sign?id=<%= params[:id] %>' class='material-icons btn'>follow_the_signs</a><span>display</span></li>
  <li><a href='/ui?id=<%= params[:id] %>' class='material-icons btn'>devices</a><span>device</span></li>
  <li><a href='/make?id=<%= params[:id] %>' class='material-icons btn'>settings</a><span>profile</span></li>
</ul>
</fieldset>

<fieldset id='org-div' style='display: none;' class='views'>
<legend>organizer</legend>
<textarea id='organize' name='org' style='width: 100%; height: 100%;'><%= Organizer.new(params[:id]).text.value %></textarea>
</fieldset>


<fieldset id='feed' class='views' style='overflow: scroll; max-height: 100%; word-break: break-all;'>
  <legend><span class='material-icons' style='color: <%= @attr['team'] %>; background-color: <%= @attr['color'] %>; border-radius: 0 0 25px 25px; border: thin solid black;'>circle</span><span>feed</span></legend>
  <div id='msgs' style='width: 100%;'></div> 
  <div id='organizer'><%= Organizer.new(params[:id]).html.value %></div>
</fieldset>

<h1 style='position: absolute; bottom: 0; width: 100%; text-align: center;'>
  <datalist id='feed_msgs'>
   <option value='$'>
   <option value='+1'>
   <option value='#'>
   <option value='report'>
  </datalist>
  <select id='mode' class='btn' style='font-size: large; width: 15%;' name='mode'>
    <option value='' selected>note</option>
    <option value='OFF'>off</option>
    <option value='TEAM'>team</option>
    <option value='ON'>on</option>
    <option value='WORK'>work</option>
    <option value='PLAY'>play</option>
    <option value='TODO'>todo</option>
    <option value='BANK'>expense</option> 
  </select>
  <input list='feed_msgs' name='msg' id='msg' placeholder='status' class='btn' style='font-size: large; width: 55%;'>
<button id='send' class='material-icons btn update' value='all' name='update' style='width: 15%; font-size: large;'>send</button> 
</h1>
<script>
<%= @js.venmo %>
<%= @js.mqtt_lib %>
$(function() {
 $(document).on('click', '#locator', function(ev) {
  ev.preventDefault();
  navagator.geolocation.watchPosition(
   function(pos) {
   console.log("DEBUG.geolocation", pos);
   $('#locator').css('border','thick solid green;');
   $("div#msgs").prepend("<p class='feed loc'><span>" + pos + "</span><input list='sts' class='loc' name='loc_" + pos + "' placeholder='note...'></p>");
   },
   function(err) { console.log("ERROR.geolocation", err);
   $('#locator').css('border', 'thick solid orange;');
     $("div#msgs").prepend("<p class='feed loc'><span>" + pos_num + "</span><input list='sts' class='loc' name='waypoint " + pos_num + "' placeholder='note...'></p>");
     pos_num++;
   },
   {
    enableHighAccuracy: true,
    maximumAge: 0,
    timeout: 5000
   }
  );
 });
 <%= @js.mqtt_init %>
 user = '<%= params[:id] %>';
 $("form").on('update', function() {
  $("button#send").css("background-color", "yellow");
 });
 $("form").on('keyup', function() {
  $("button#send").css("background-color", "green");
 });
 $(document).on('click', '#cart', function() {
   $("div#msgs").prepend("<p class='feed pos'>$<input class='amt' type='number' id='pos_amt_" + pos_item + "' style='width: 25%;' placeholder='0'><input class='note' list='sts' id='pos_note_" + pos_item + "' placeholder='note...' style='width: 65%;'></p>");
     pos_item++;
  }); 
 $(document).on('click', '#time', function() {
  $("#msg").val("time");
  sendMQTT();
  $("#msg").val("");
  var ts = new Date();
  $("div#msgs").prepend("<p class='feed ts'><span>" + $("#hour").text() + ":" + $("#min").text() + "</span><datalist id='sts'><option value='pickup'><option value='dropoff'></datalist><input list='sts' class='sts' name='" + Date.now() + "' placeholder='note...'></p>");
 });
 $(document).on('click', '#send', function(ev) {
 // add up pos_amts and push to venmo scan in sign.
  ev.preventDefault();
  var tot = 0;
  if ($("input#msg").val() != "") {
    var s = "* " + $("select#mode").val() + " " + $("input#msg").val();
  } else {
    var s = "* " + $("select#mode").val() + " update"; 
  }
  var d = "";
  $(".loc").each(function(i) { d += "- " + $(this).attr("name") + ": " + $(this).val() + "\n"; });
  $(".sts").each(function(i) { d += "- " + $(this).attr("name") + ": " + $(this).val() + "\n"; });
  if ($('.pos').length > 0) {
  var rec = "invoice: " 
  d += "- invoice\n"
  $(".pos").each(function(i) { tot += parseInt($("#pos_amt_" + i).val(), 10); rec += $("#pos_amt_" + i).val() + " for " + $("#pos_note_" + i).val() + ", "; d += "    " + i + ". " + $("#pos_amt_" + i).val() + ": " + $("#pos_note_" + i).val() + "\n"; });
  d += "- total: $" + tot + "\n";
  rec += "thanks!"
  var txn = { txn: 'pay', recipients: '<%= @attr['venmo'] %>', amount: tot, note: rec }
  d += "- link: " + encodeURI(venmo(txn)) + "\n";
  }
  var x = $("textarea#organize").val();
  $("textarea#organize").val(s + "\n" + d + "\n" + x);
  sendMQTT();
  $("div#msgs").html("");
  $("input#msg").val("");
  $("button#send").css('background-color', 'white');
  $(".views").hide();
  $("#feed").show();
  pos_item = 0;
 });
 $('.views').hide();
 $('#feed').show();
}); 
</script>
