<style>
fieldset { height: inherit; }
.ui { float: right; vertical-align: middle; text-decoration: none; color: black; padding: 0 2% 0 2%; }
.btn { border: thick solid black; border-radius: 20px; background-color: white; color: black; vertical-align: middle; font-size: large; }
.view { padding: 0 2% 0 2%; }
.views > legend { font-size: x-large; }
</style>
<h1 style='margin:0;'>
  <datalist id='msgs'>
    <option value='thank you for your business!'>
  </datalist>
  <button type='button' id='time' class='btn' style='float: right;'><span id='hour'>00</span>:<span id='min'>00</span></button>
  <button type='button' class='material-icons btn' id='menu' onclick='$("#menu-div").toggle();'>menu</button>
  <button type='button' class='material-icons btn' id='locator'>explore</button>
  <input class='btn' name='data[pitch]' list='msgs' placeholder='pitch' style='width: 25%;'>
</h1>

<fieldset id='menu-div' style='display: none' class='views'>
<legend>menu</legend>
<ul>
<li><button type='button' class='material-icons btn' onclick='$(".views").hide(); $("#org-div").show();'>content_paste</button><span>organizer</span></li>
<li><button type='button' class='material-icons btn' onclick='window.location="https://drive.google.com"'>folder</button><span>google drive</span></li>
  <li><a href='/sign?id=<%= params[:id] %>' class='material-icons btn'>follow_the_signs</a><span>display</span></li>
  <li><a href='/ui?id=<%= params[:id] %>' class='material-icons btn'>devices</a><span>device</span></li>
  <li><a href='/make?id=<%= params[:id] %>' class='material-icons btn'>settings</a><span>profile</span></li>
</ul>
</fieldset>

<fieldset id='org-div' style='display: none;' class='views'>
<legend>organizer</legend>
<button type='button' class='material-icons btn' style='float: right;' onclick='$(".views").hide(); $("#feed").show();'>close</button>
<textarea id='organize' name='data[org]' style='width: 100%; height: 80%;'><% Organizer.new(params[:id]).text.entries.join('\n') %></textarea>
</fieldset>


<fieldset id='feed' class='views'>
  <legend><span class='material-icons' style='color: <%= @attr['team'] %>; background-color: <%= @attr['color'] %>; border-radius: 0 0 25px 25px; border: thin solid black;'>circle</span><span>feed</span></legend>
  <div id='organizer'><%= Organizer.new(params[:id]).html.value %></div>
  <div id='msgs' style='width: 100%;'></div>
</fieldset>

<h1 style='position: absolute; bottom: 0; max-width: 100%; text-align: center;'>
  <datalist id='feed_msgs'>
    <option value="group ride at ">
    <option value="does anyone have a ">
    <option value="where is ">
    <option value="*** in alley">
    <option value="*** out of alley"> 
  </datalist>
  <select id='mode' class='material-icons btn' style='font-size: larger; width: 15%;' name='data[mode]'>
    <option class='material-icons' value='off'>lens</option>
    <option class='material-icons' value='on'>blur_circular</option>
    <option class='material-icons' value='working'>motion_photos_on</option>
    <option class='material-icons' value='playing'>adjust</option>
  </select>
  <input list='feed_msgs' name='data[msg]' id='msg' placeholder='status' class='btn' style='font-size: larger; width: 60%;'>
<button class='material-icons btn update' value='all' name='update' style='width: 15%; font-size: larger;'>send</button> 
</h1>
<script>
<%= @js.mqtt_lib('$("#feed msgs").prepend("<code>" + j + "</code>");') %>
$(function() {
 $(document).on('click', '#locator', function(ev) {
  ev.preventDefault();
  if (locate == true) {
  navagor.geolocation.watchPosition(
   function(pos) { console.log("DEBUG.geolocation", pos);
   $('#locator').css('border','thick solid green;'); },
   function(err) { console.log("ERROR.geolocation", err);
   $('#locator').css('border', 'thick solid orange;'); },
   {
    enableHighAccuracy: true,
    maximumAge: 0,
    timeout: 5000
   }
  );
  } else {
    locate = false;
    $('#locator').css('border', 'thick solid red');
  }
 });
 <%= @js.mqtt_init %>
 user = '<%= params[:id] %>';
 $(document).on('click', '#snd', function(ev) {
  ev.preventDefault();
  sendMQTT();
  $('#msg').val('')
 });
 $(document).on('click', '.view', function(ev) {
  ev.preventDefault();
  $('.views').hide();
  $('.view').css('background-color', 'white');
  $(this).css('background-color', 'orange');
  $("#" + $(this).val()).show();
 });
  $(document).on('click', '.update', function(ev) {
  ev.preventDefault();
  sendMQTT();
  });
 $('.views').hide();
 $('#feed').show();
}); 
</script>
