<style>
.ui {
    width: 30%;
    height: 100%;
}
</style>

<div id='user'>
<input type='tel' id='usr'><button id='go' class='material-icons'>bike_scooter</button>
</div>

<div id='ui' style='display: none;'>
<nav style='float: right;'>
<a href='tel:<%= params[:id] %>' class='material-icons'>call</a>
<a href='<%= @js.venmo_tip(params[:id]) %>' class='material-icons'>payments</a>
<!-- <a href='/shop?id=#{params[:id]}' class='material-icons'>store</a> -->
</nav>
<h1><%= @attr['name'] %></h1>
<h3 style='color: red;'>Add to your homescreen for easy callbacks!</h3>
<h3><%= @attr['msg'] || "Have fun!" %></h3>
<div style='width: 100%; height: 30vh; text-align: center;'>
<button class='material-icons ui' value='1'>thumb_up</button>
<button class='material-icons ui' value='0'>stars</button>
<button class='material-icons ui' value='-1'>thumb_down</button>
</div>
<h3>Let us know how you're enjoying your ride and leave stars behind you for others to find.</h3>
</div>
<script>
<%= @js.venmo %>
<%= @js.mqtt_lib %>
$(function() {
<%= @js.mqtt_init %>
$(document).on('click', '.ui', function(ev) {
ev.preventDefault();
sendMQTT();
});
$(document).on('click', '#go', function(ev) {
ev.preventDefault();
user = $('#usr').val();
$('#user').hide();
$('#ui').show();
});
});
</script>